# Top-most EditorConfig file
root = true

# Applies to all files
[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

# Set specific rules for certain file types
[*.java]
indent_size = 4

[*.xml]
indent_size = 2
