<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css">
<head>
    <meta charset="UTF-8">
    <title>Student Group Page</title>
    <style>
        body {
            text-align: center;
        }

        table {
            width: 80%;
            margin: 0 auto;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            border: 1px solid black;
        }

        th {
            background-color: lightgray;
        }

        .pagination {
            margin-top: 20px;
        }

        .pagination a {
            padding: 5px 10px;
            border: 1px solid #ddd;
            margin-right: 5px;
            text-decoration: none;
            color: black;
        }

        .pagination .current {
            font-weight: bold;
        }
    </style>
</head>
<body>
<h1>Student Group Page</h1>
<table>
    <tr>
        <th>Group ID</th>
        <th>Faculty ID</th>
        <th>Group Name</th>
        <th>Action</th>
    </tr>
    <tr th:each="studentGroup : ${studentGroup}">
        <td th:text="${studentGroup.groupId}"></td>
        <td th:text="${studentGroup.facultyId}"></td>
        <td th:text="${studentGroup.groupName}"></td>
        <td>
            <form th:action="@{/studentgroup/delete}" th:object="${studentGroup}" method="post">
                <input type="hidden" name="groupId" th:value="${studentGroup.groupId}" />
                <button type="submit">Delete Student Group</button>
            </form>
            <button type="button" class="btn btn-primary edit-btn" th:data-group-id="${studentGroup.groupId}" data-toggle="modal" data-target="#editGroupModal">Edit</button>
        </td>
    </tr>
</table>

<div th:each="group : ${studentGroup}">
    <div class="modal fade" th:id="'editGroupModal-' + ${group.groupId}" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Student Group</h4>
                    <button type="button" class="close edit-modal-close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/studentgroup/edit}" method="post">
                        <input type="hidden" name="groupId" th:value="${group.groupId}" />
                        <input type="text" name="groupName" th:value="${group.groupName}" placeholder="Group Name"/>
                        <button type="submit">Edit Student Group</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<form th:action="@{/studentgroup/add}" th:object="${studentGroupDTO}" method="post">
    <input type="text" th:field="*{groupName}" placeholder="Group Name"/>
    <input type="number" th:field="*{facultyId}" placeholder="Faculty ID"/>
    <button type="submit">Add Group</button>
</form>

<div th:if="${deleteStudentGroupMessage}" class="alert alert-success" role="alert">
    <p th:text="${deleteStudentGroupMessage}"></p>
</div>
<div th:if="${editStudentGroupMessage}" class="alert alert-success" role="alert">
    <p th:text="${editStudentGroupMessage}"></p>
</div>
<div th:if="${failStudentGroupMessage}" class="alert alert-success" role="alert">
    <p th:text="${failStudentGroupMessage}"></p>
</div>
<div th:if="${successStudentGroupMessage}" class="alert alert-success" role="alert">
    <p th:text="${successStudentGroupMessage}"></p>
</div>


<div class="pagination">
    <span th:if="${currentPage > 0}">
        <a th:href="@{/studentgroup(page=0)}">First</a>
        <a th:href="@{/studentgroup(page=${currentPage - 1})}">Previous</a>
    </span>
    <span th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}">
        <a th:href="@{/studentgroup(page=${pageNumber})}" th:class="${pageNumber == currentPage ? 'current' : ''}" th:text="${pageNumber + 1}"></a>
    </span>
    <span th:if="${currentPage < totalPages - 1}">
        <a th:href="@{/studentgroup(page=${currentPage + 1})}">Next</a>
        <a th:href="@{/studentgroup(page=${totalPages - 1})}">Last</a>
    </span>
</div>

<a th:href="@{/adminscab}" class="btn btn-primary">Go to Admin Panel</a>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).on("click", ".edit-btn", function () {
        var groupID = $(this).data("group-id");
        var targetModalId = "#editGroupModal-" + groupID;
        console.log("Opening modal for group ID: " + groupID);
        $(targetModalId).modal("show");
    });

    $(document).on("click", ".edit-modal-close", function () {
        $(this).closest(".modal").modal("hide");
    });

    $(document).on("click", function (event) {
        if ($(event.target).hasClass("modal")) {
            $(event.target).modal("hide");
        }
    });
</script>
</body>
</html>
