<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADMIN PANEL</title>
</head>
<body>
<h1>Admin Panel</h1>

<h2>Manage University</h2>
<button onclick="displayAllUniversities()">Display all universities</button>
<button onclick="displayAllFaculties()">Display all faculties</button>
<button onclick="displayAllStudentGroups()">Display all student groups</button>
<button onclick="addNewUniversity()">Add a new university</button>
<button onclick="addNewFaculty()">Add a new faculty</button>
<button onclick="addNewStudentGroup()">Add a new student group</button>
<button onclick="deleteUniversity()">Delete a university</button>
<button onclick="deleteFaculty()">Delete a faculty</button>
<button onclick="deleteStudentGroup()">Delete a student group</button>

<h2>Manage Users</h2>
<button onclick="addAdministrator()">Add an administrator</button>
<button onclick="displayAllUsers()">Display all users</button>
<button onclick="findUserById()">Find user by ID</button>
<button onclick="addNewStudent()">Add a new student</button>
<button onclick="addNewProfessor()">Add a new professor</button>
<button onclick="deleteUser()">Delete a user</button>

</body>
</html>
