<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Professors Page</title>
    <style>
        body {
            text-align: center;
        }

        table {
            width: 80%;
            margin: 0 auto;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            border: 1px solid black;
        }

        th {
            background-color: lightgray;
        }
    </style>
</head>
<body>
<h1>Professors Page</h1>
<table>
    <tr>
        <th>User ID</th>
        <th>Professor ID</th>
    </tr>
    <tr th:each="professor : ${professors}">
        <td th:text="${professor.userId}"></td>
        <td th:text="${professor.professorId}"></td>
    </tr>
</table>
</body>
</html>
