<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students Page</title>
    <style>
        body {
            text-align: center;
        }

        table {
            width: 80%;
            margin: 0 auto;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            border: 1px solid black;
        }

        th {
            background-color: lightgray;
        }
    </style>
</head>
<body>
<h1>Students Page</h1>
<table>
    <tr>
        <th>User ID</th>
        <th>Group ID</th>
    </tr>
    <tr th:each="student : ${students}">
        <td th:text="${student.userId}"></td>
        <td th:text="${student.groupId}"></td>
    </tr>
</table>
</body>
</html>
