<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
</head>
<body>
<h1>University CMS</h1>
<a href="/user.html"><button>Go to User Page</button></a>
<a href="/students.html"><button>Go to Students Page</button></a>
<a href="/professors.html"><button>Go to Professor Page</button></a>
<a href="/university.html"><button>Go to University Page</button></a>
<a href="/faculty.html"><button>Go to Faculty Page</button></a>
<a href="/studentgroup.html"><button>Go to Student Group Page</button></a>
<a href="/schedule.html"><button>Go to Schedule Page</button></a>

</body>
</html>
