<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
    <style>
        body {
            text-align: center;
        }

        h1 {
            margin-bottom: 30px;
        }

        .button-container {
            margin-bottom: 10px;
        }

        .button-container button {
            margin-right: 10px;
        }
    </style>
</head>
<body>
<h1>University CMS</h1>
<div class="button-container">
    <a href="/user.html"><button>Go to User Page</button></a>
    <a href="/students.html"><button>Go to Students Page</button></a>
    <a href="/professors.html"><button>Go to Professor Page</button></a>
</div>
<div class="button-container">
    <a href="/university.html"><button>Go to University Page</button></a>
    <a href="/faculty.html"><button>Go to Faculty Page</button></a>
    <a href="/studentgroup.html"><button>Go to Student Group Page</button></a>
    <a href="/schedule.html"><button>Go to Schedule Page</button></a>
</div>
</body>
</html>
